# ========================
# WordPress Core
# ========================
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# ========================
# Configuration
# ========================
wp-config.php
wp-config-sample.php

# ========================
# Example Themes & Plugins
# ========================
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php

# ========================
# Uploads & Logs
# ========================
/wp-content/uploads/
*.log

# ========================
# htaccess
# ========================
/.htaccess

# ========================
# macOS-specific
# ========================
.DS_Store
.AppleDouble
.LSOverride

# ========================
# Editor & System Files
# ========================
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.vscode/
*.idea/
Thumbs.db
desktop.ini
