@use 'variables' as vars;
@use "sass:color";

.site-header {
    background: vars.$primary-color;
    color: vars.$white;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logged-in-btns {
            margin-right: 50px;
            a {
                color: vars.$white;
                text-decoration: none;

                &:first-child {
                    margin-right: 20px;
                }

                &:hover {
                    color: color.adjust(vars.$border-color, $lightness: -10%);
                }
            }
        }
            
        .site-logo {
            width: 70px;
            height: auto;
            margin-left: 50px;
        }
    }

}